name: Build Nuxt3 Application

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  submodules: true

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22'

            - name: Install dependencies
              run: npm ci

            - name: Copy configuration file
              run: cp app/SAMPLE.app.config.ts app/app.config.ts

            - name: Prepare Nuxt
              run: npm run prepare

            - name: Lint
              run: npm run lint

            - name: Generate static site
              run: npm run generate

            - name: Deploy to Bunny
              uses: R-J-dev/bunny-deploy@v2.1.1
              with:
                access-key: ${{ secrets.BUNNY_ACCESS_KEY }}
                directory-to-upload: ".output/public"  # Nuxt 3
                storage-endpoint: "https://storage.bunnycdn.com"
                storage-zone-name: "bloggrify"
                storage-zone-password: ${{ secrets.BUNNY_STORAGE_ZONE_PASSWORD }}
                enable-delete-action: true
                enable-purge-pull-zone: true
                pull-zone-id: "5063091"
                concurrency: 50
                replication-timeout: "15000"
                request-timeout: "5000" # optional, defaults to 5000
                retry-limit: "3" # optional, defaults to 3
